# ==========================================
# 1. DỮ LIỆU & MÔ HÌNH AI
# ==========================================
data/raw/
data/sample/
data/all-MiniLM-L6-v2/
*.jsonl
*.jsonl.gz
*.csv

# ==========================================
# 2. THƯ VIỆN & PHỤ THUỘC (JAR Files)
# ==========================================
jars/*.jar

# ==========================================
# 3. DỮ LIỆU VẬT LÝ CỦA DATABASE 
# ==========================================
docker/volumes/

# ==========================================
# 4. RÁC CỦA PYTHON & HỆ ĐIỀU HÀNH
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Rác của Windows/Mac
.DS_Store
Thumbs.db

# ==========================================
# 5. MÔI TRƯỜNG & BẢO MẬT
# ==========================================
.env
.venv
env/
venv/